@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #101630;
  color: black;
}

.App {
  text-align: center;
  padding: 30px;
  max-width: 500px;
  margin: auto;
}

h1 {
  color: white;
  text-transform: uppercase;
}

.about {
  background-color: #17c7d4;
  padding: 10px;
  margin: 30px 10px;
  text-align: left;
  border-radius: 8px;
}

.about h2 {
  text-align: center;
  margin-bottom: 10px;
}

.about div {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about span {
  width: 80px;
  background-color: white;
  padding: 5px;
  color: black;
  border-radius: 8px;
}

.about button {
  background-color: yellow;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
}

.about button:hover {
  filter: brightness(80%);
}